/* DEFAULT RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing : border-box;
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
	-ms-box-sizing : border-box;
	-o-box-sizing : border-box;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    /* border-radius: 10px; */
    background: #F9F9F9;
}
 
::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    border: 1px solid #F2F1EF;
    background: #eee;
}

body {
    background: #F2F1EF;
}

html,
body,
a,
textarea,
button,
table, tr, th, td, tbody,
input {
	font-family: 'Open Sans', sans-serif !IMPORTANT;
}

td {
    white-space: nowrap;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.panel {
    border-radius: 2px;
    padding-top: 0;
    border: 0;
    background: none;
}