/* OVERLAYER */
.overlay {
    position: fixed;
    z-index: 999;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    top: 0;
    overflow-y: auto;
    display: none;
}
.overlay.active {
    display: block;
}
.image-overlay {
    width: 48%;
    display:inline-block;
    margin: 0 1%;
    background: #fff;
    padding: 2% 5% 5%;
}
.btn-close:active {
    box-shadow: none;
}
.image-overlay img {
    width: 100%;
    display: block;
}

.overlay-wrapper {
    background: none;
    padding: 5px 35px;
    margin: 25px 0;
    border-radius: 2px;
    text-align: center;
}
.active .overlay-wrapper {
	animation: showoverlay 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	-webkit-animation: showoverlay 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	-moz-animation: showoverlay 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	-ms-animation: showoverlay 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	-o-animation: showoverlay 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.close-overlay {background: none;outline: none;font-size: 3em;color: #fff;position: absolute;z-index: 999;right: 15px;padding: 5px 20px;top: 25px;}
.btn {
    outline: none !IMPORTANT;
    border-radius: 0;
}

.overlay .image-title h3 {
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 25px;
}
/* COLOR CHOICE */
#color-choice {
    margin: 0 auto;
    margin-top: 25px;
    justify-content: flex-end;
    text-align: end;
}
#color-choice li {
    display: inline-block;
    padding: 15px;
    background: inherit;
    color: #F9F9F9;
    content: "";
    /* margin-left: -5px; */
    border-radius: 100%;
    cursor: crosshair;
}
.choose-color {
    font-weight: 300;
    padding: 5px;
    margin-right: 15px;
    color: #BBBBBB;
    float: left;
}

/* APP */
#app {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}
/* SIDEBAR */
section#sidebar, section#main {
    padding: 20px 25px;
}
#sidebar .group-content td:nth-child(2) {
    padding: 0 10%;
}
#sidebar .group-content td {
    padding:1px 5px;
}
.profile {
    text-align: center;
}
.profile-name > h3 {
    /* font-size: 1.5em; */
    font-weight: 100 !IMPORTANT;
}
.profile-name h3 span {
/* font-weight: bold; */
}
.detail-profile {
    text-transform: uppercase;
}

.profile-position {
    background: #F9F9F9;
    color: inherit;
    width: 60%;
    margin: 0 auto;
    font-weight: bold;
    border-radius: 2px;
    padding: 0px 10px;
    font-size: 1.3rem;
}

.image-profile img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.image-profile {
    width: 200px;
    height: 200px;
    margin: 2rem auto;
    border-radius: 100%; */
    position: relative;
    position: relative;
    border: 10px solid;
}

.image-profile:before,
.image-profile:after,
.panel-group i:after,
.close-overlay{
 	transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -ms-transition:all .2s linear;
    -o-transition:all .2s linear;
 }

.image-profile:before,
.image-profile:after {
    content: "";
    position:absolute;
    border-radius: 100%;
    opacity:0;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.image-profile:before {
    border: 5px solid #F9F9F9;
}
.image-profile:after {
    border: 8px #F9F9F9;
    border-style: dashed;
}
.image-profile:hover:before {
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    opacity:1;
}
.image-profile:hover:after {
    transition-delay:.4s;
    -webkit-transition-delay:.4s;
    -moz-transition-delay:.4s;
    -ms-transition-delay:.4s;
    -o-transition-delay:.4s;
    top: -30px;
    bottom: -30px;
    left: -30px;
    right: -30px;
    opacity:1;
}
.image-profile:hover img {
    filter: grayscale(0%);
    -webkit-filter: grayscale(00%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

.group-title h3 i {
    margin-right: 15px;
    vertical-align: middle;
    border-radius: 100%;
    border: 1px solid #FFFFFF;
    color: #F9F9F9;
    width: 25px;
    height: 25px;
    padding: 8px 0;
    text-align: center;
    font-size: .6em;
}

.group-title h3 {
    text-transform: uppercase;
    font-size: 1.3em;
}

.group-detail {
    font-size: 1.3rem;
    color: inherit;
}
.group-content h4 {
    font-size: 1.5rem;
    background: inherit;
    color: #F9F9F9;
    padding: 10px 15px;
    border-radius: 2px;
}

.group-content {
    margin-top: 20px;
    font-size: 1.3rem;
}

.panel-title, .panel-detail {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 5px;
}

.panel-title {
    background: #1F3A93;
}
.panel-title > * {
    font-weight:bold;
}
.panel-detail {
    padding-top: 5px;
    padding-left: 10%;
    overflow-x: auto;
}

.qr-code img {
    width: 100%;
}
.qr-text {
    color: inherit;
    background: inherit;
    border: 0;
    padding: 2px 15px;
    width: 100%;
    border-radius: 2px;
}

.qr-link {
    line-height: 3;
    margin-top: 5px;
}
/* MAIN */
section#main {
    background: #F9F9F9;
}
#main .panel-title {
    background: none;
}
#main .panel-title > h3 {
    font-size:1.8rem;
    color: #2F2F2F;
    text-transform: uppercase;
}
#main .panel-title > h3 i {
    margin-right: 15px;
    vertical-align: middle;
    border-radius: 100%;
    border: 1px solid #2F2F2F;
    color: #2F2F2F;
    width: 50px;
    height: 50px;
    padding: 15px 0;
    text-align: center;
    position: relative;
}
.panel-group:hover i {
    background: inherit;
    color: #fff;
    border-color: inherit;
    transition:.3s all ease;
    -webkit-transition:.3s all ease;
    -moz-transition:.3s all ease;
    -ms-transition:.3s all ease;
    -o-transition:.3s all ease;
}
.panel-group i:after {content: "";position: absolute;border: 1px solid #eee;left: 0;opacity: 0;top: 0;right: 0;bottom: 0;border-radius: 100%;}
.panel-group:hover i:after {
    opacity:1;
    top: -10px;
    right:-10px;
    bottom:-10px;
    left:-10px;
}
.panel-detail table {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.panel-detail td {
    padding: 2px 10px;
    vertical-align: top;
    padding-bottom: 10px;
    position: relative;
}
td.ui .title {
    color: inherit;
    font-size: 1.2em;
}
td.certif {
    width: 20%;
    position: relative;
}
td.ui .desc {
    font-size: .8em;
    white-space: normal;
}
td.align-right {
    text-align: right;
} 	

td.align-left {
	text-align: left;
}
td.table-title {
    color: inherit;
    font-size: 1em;
    font-weight: 700;
    width: 25%;
}
.certified button {
    position: relative;
    background: inherit;
    border: 0;
    color: #fff;
    padding: 7px 20px;
    /* border-radius: 2px; */
    outline: none;
    min-width: 135px;
    font-size: 13px;
}

tr {
    position: relative;
}

.certified {
    right: 0;
    top: 0;
}

.certified button:before {
	content: "";
	position: absolute;
	border-right: 8px solid;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	left: -8px;
	top: 8px;
}

/* PANEL DETAIL */
.panel-detail li {
    padding: 10px 0;
    height: 40px;
    overflow: hidden;
    position: relative;
}

.panel-detail li ul:after {
    content: '\f107';
    font-size:2em;
    position: absolute;
    font-family: "FontAwesome";
    right: 0;
    top: 0;
}

.panel-detail li ul {

}

/* KEYFRAME */
@keyframes showoverlay {
    from {margin-top:-200%;}
    to {margin-top:0%}
}

/* MEDIA QUERIES */

@media screen and (max-width: 480px) {
	.row {
		display: inherit;
	}
	#color-choice {
	    text-align: left;
	}
    .image-overlay {
        width: 100% !IMPORTANT;
        padding: 0;
        margin: 10px 0;
    }

    .overlay-wrapper {
        margin: 0;
        padding: 0;
    }
}