<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="UA-X-COMPATIBLE" content="IE-EDGE">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CV Online Muhammad Habib Rohman</title>
	<link rel="stylesheet" href="css/styles.css">
	<!--[if lt IE 9]>
	<link rel="stylesheet" media="screen" href="https://s3.bukalapak.com/ast/ie-555bb417b7ac8e814be500345f0ee8c5b3b2228c05c28b751a7169f78a95b340.css" />
	<![endif]-->
	<!--[if lte IE 7]>
	<link rel="stylesheet" media="screen" href="https://s3.bukalapak.com/ast/ie-555bb417b7ac8e814be500345f0ee8c5b3b2228c05c28b751a7169f78a95b340.css" />
	<![endif]-->
</head>
<body>
	<div class="container">
		<div class="navigate hide" id="navigate">
			<button onclick="toggleNavigate()">
				<svg v-if="opened" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
				    <path d="M3 21h18v-2H3v2zm6-4h12v-2H9v2zm-6-4h18v-2H3v2zm6-4h12V7H9v2zM3 3v2h18V3H3z"/>
				    <path d="M0 0h24v24H0z" fill="none"/>
				</svg>
				<svg v-if="!opened" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
			</button>
			<div class="menu-navigate">
				<ul class="dropdown">
					<li v-for="nav in navigate">
						{{{ decodeHTML(nav.icon) }}}
						<a href="{{ nav.url }}" v-if="nav.on.click" onclick="{{ nav.on.click }}">{{ nav.title }}</a>
						<a href="{{ nav.url }}" v-else>{{ nav.title }}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="outer">
			<!-- Header -->
			<header>
				<div class="header header-image">
					<div class="image-wrapper" onclick="toggleTheme()"></div>
				</div>
				<div class="header header-fullname">
					<h1>Muhammad Habib Rohman</h1>
				</div>
				<div class="header header-profession">
					<span>Web Developer</span> | <span>Programmer</span>
				</div>
				<div class="header header-address">
					<address>
						Jl. Raya Tayu -  Puncel KM. 08, RT/RW 08/02. Ds Alasdowo, Kec. Dukuhseti
					</address>
				</div>
				<div class="header header-contact">
					<ul class="contact-head">
						<li>
							<div class="icon-sprite" id="ch-email"></div>
							<span><a href="mailto:mhrohman@live.com">mhrohman@live.com</a></span>
						</li>
						<li>
							<div class="icon-sprite" id="ch-phone"></div>
							<span><a href="tel:082330891711">082330891711</a></span>
						</li>
						<li>
							<div class="icon-sprite" id="ch-link"></div>
							<span><a href="rohmanhm.github.io">rohmanhm.github.io</a></span>
						</li>
					</ul>
				</div>
			</header>
			
			<!-- Main -->
			<main>
				<section class="center" id="about-me">
					<div class="title">
						<h2>Tentang Saya</h2>
					</div>
					<div class="content">
						Saya belajar bahasa pemrograman secara otodidak, mengandalkan mesin pencari Google. 
						Pertama kali belajar bahasa pemrograman Desktop (Visual Basic, Boerland Delphi 7). 
						Dalam di tiga tahun terakhir fokus ke pemrograman website.
					</div>
				</section>
				
				<section id="history">
					<div class="title">
						<h2>{{ history[historyIndex] }}</h2>
					</div>
					<div class="content">
						<table>
							<tbody>
								<tr v-for="data in datas">
									<td class="date">{{ data.date }}</td>
									<td class="info">
										<h3>{{ data.info.title }}</h3>
										<p>
											{{{ data.info.description }}}
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div v-if="buttonNavigate" class="button-navigate">
						<button class="btn-navigate btn-nav-left" @click="prevDatas()">
							<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path d="M30.83 14.83L28 12 16 24l12 12 2.83-2.83L21.66 24z"/></svg>
						{{ history[historyIndex-1] }}</button>
						<button class="btn-navigate btn-nav-right" @click="nextDatas()">{{ history[historyIndex+1] }}
							<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path d="M20 12l-2.83 2.83L26.34 24l-9.17 9.17L20 36l12-12z"/></svg>
						</button>
						<div class="clearfix"></div>
					</div>
					<div v-if="!buttonNavigate" class="button-navigate">
						<button disabled="true" class="btn-navigate btn-nav-left" @click="prevDatas()">
							<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path d="M30.83 14.83L28 12 16 24l12 12 2.83-2.83L21.66 24z"/></svg>
						{{ history[historyIndex-1] }}</button>
						<button disabled="true" class="btn-navigate btn-nav-right" @click="nextDatas()">{{ history[historyIndex+1] }}
							<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path d="M20 12l-2.83 2.83L26.34 24l-9.17 9.17L20 36l12-12z"/></svg>
						</button>
						<div class="clearfix"></div>
					</div>
					<div class="status-navigate">
						<ul class="buble-status">
							<li v-for="h in history" :data-history="$index">
								<span v-if="$index === historyIndex"></span>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</section>
				<div class="clearfix"></div>
			</main>

			<!-- Triangle -->
			<span class="triangle triangle-top-left"></span>
			<span class="triangle triangle-top-right"></span>
			<span class="triangle triangle-bottom-right"></span>
			<span class="triangle triangle-bottom-left"></span>
		</div>
	</div>

<script src="js/vendor/jquery-3.0.0.min.js"></script>
<script src="js/vendor/vue.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>